.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< Updated upstream
  padding: var(--horizontal-space);
  margin-bottom: 15px;
<<<<<<< HEAD
=======
  padding: 25px;
>>>>>>> Stashed changes
=======

>>>>>>> 126901fbf0333fe5df8023539e1e04d7e9c1de2c
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
<<<<<<< Updated upstream
  position: relative;
  
 

}

.screen-header__dot{
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 70px;
  bottom: 25px;
=======
>>>>>>> Stashed changes
}